@import url(../vendor/normalize.css);
@import url(../vendor/InterWeb/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/_active/page_active.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__mobile/header__mobile.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu/themes/header__menu_selected.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav/themes/header__nav_selected.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);


.content {
  margin: 0;
  padding: 300px 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
    width: 100%;
    padding: 100px 20px 0;
  }
}

.content__description {
  max-width: 40%;
  margin: 0 20px 0 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  .content__description {
    max-width: 100%;
    margin: 0;
  }
}

.main__title {
  font-size: 20px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.main__description {
  font-size: 16px;
  line-height: 18px;
  margin: 40px 0;
}

.video__main {
  width: 480px;
  height: 270px;
}

@media screen and (max-width: 700px) {
  .video__main {
    width: 280px;
    height: 157px;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 30px;
}

@media screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__numbers {
  display: flex;
  flex-direction: column;

}

.footer__number {
  text-decoration: none;
  color: white;
  margin: 10px 0 0;
  padding: 0;
}

.footer__booking {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  max-width: 200px;
  transition: all .3s linear;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 10px;
}

@media screen and (max-width: 900px) {
  .footer__booking {
    margin: 15px 0;
  }
}

/* 
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__main/profile__main.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__remove/element__remove.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__looking/popup__looking.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__description/popup__description.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__info/popup__info.css);
@import url(../blocks/popup/__info/_value/popup__info_value_name.css);
@import url(../blocks/popup/__info/_value/popup__info_value_description.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__exit-button/popup__exit-button.css);
 */

